<%- include("./partials/top") %>
  <main class="new">
    <h1><%= title %></h1>

    <form action="/new" method="post">
      <div class="input-container">
        <label for="user">Author's Name</label>
        <input type="text" id="user" name="user" required>
      </div>
      <div class="input-container">
        <label for="text">Message</label>
        <textarea name="text" id="text" cols="30" rows="10" required></textarea>
      </div>
      <button type="submit">Send</button>
    </form>
  </main>
<%- include("./partials/bottom") %> 